/* SOBREMONDO CANE */

.quienes-somos {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.quienes-somos > p {
    text-align: center;
    padding-bottom: 45px;
    font-size: 20px;
}

.quienes-somos > h2 {
    text-align: center;
    margin-top: 1px;
    font-size: 40px;
}

.quienes-somos > img {
    display: block;
    margin: 60px auto;
    width: 150px;
}